

	<% if (instauser_logged_in? && !branduser_logged_in?) %>

				<% if @brandusers.present? %>
						<div  id="leftbar">
								<ul class="list-group" id="form">


						<% @brandusers.each do |x| %>
				
						<li class="list-group-item">
						<font face="Lobster"><h4><%= link_to x.coname, publish_path(:branduser_id => x.id) , method: :patch, remote: true %></font> <span class="pull-right"><% unless !x.image.nil? %><%= image_tag(x.image) %><%end%></span></h4></li>
					 
					 

						<% end %>
							</ul>
						</div>

					<%end%>
			 

				<div id="publish">
					 
						  
				</div>
					 
				 

	<% elsif branduser_logged_in? && !instauser_logged_in? %>

				<% if @instausers.present? %>

				<div  id="leftbar">
					<ul class="list-group" id="form">
				
				<% @instausers.each do |x| %>

				
					
				<li class="list-group-item">
			    <font face="Lobster"><h4> <%= link_to x.fullname, publish_path(:instauser_id => x.id) , method: :patch, remote: true %></font><span class="pull-right"><%= image_tag(x.profile_picture, width: "30") %></span> </h4></li>
			    <%end%> 
			    </ul>
				</div>

			    
			    		 
			    <div  id="publish">
			 
				  
			   </div> 

				 

			   <%end%>
			 




		<%end%>