
<div class="signup">
<div class="container">
<a class="logo" href="/" title="capish">capish</a>
<h2 class="text-center">BRAND LOGIN</h2>
 
<%= form_for(:session, url: '/blogin', :html => {:role => 'form', :autocomplete => 'off'}) do |f| %>  
 
           <div class="form-group form-groupemail">
           
              <%= f.email_field :email, :placeholder => "Email", class: "form-control formcapish", id: "email", placeholder: "Email", onfocus: "this.placeholder = ''",onblur: "this.placeholder='Email'" %> <br />
            </div>
             <div class="form-group form-grouppass">
              <%= f.password_field :password, id: "email", :placeholder => "Password", class: "form-control formcapish", onfocus: "this.placeholder = ''",onblur: "this.placeholder='Password'"   %> <br />
            </div>
           <div class="row row0 text-right">
              <%= f.submit "LOG IN", class: "btn btn-send" %><br /></div>
  <hr>
 <span class="formcapish">- OR - </span>
              <div class="row row0 text-left"><a href="/brandusers/auth/Linkedin" class="linkedin"></a></div>
              
          </div>
        <% end %>
 
</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </footer>
</div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');

</script> 
</div>
















 










