 
 
 
<div class="jumbotron" id="form">
	<font face="Andale Mono" color="black">
 <%= form_for(:session, url: '/blogin') do |f| %> 
 
  <%= f.email_field :email, :placeholder => "Email" %> 
  <%= f.password_field :password, :placeholder => "Password" %> 
  <%= f.submit "Log in", class: "btn btn-submit" %>
<% end %></font>
 

</div>
 


