<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    Hello <%= @user.coname %>!<br>

    Congratulations and welcome to Capish, you are now officially part of our community. <br><br> 

    You need to verify your account first by visiting this url: <%= link_to @url, @url %> <br><br> 
    
  </body>
</html>
