<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Capish, <%= @user.firstname %></h1>
    <p>
      You have successfully signed up to Capish,
      and your username is: <%= @user.username %>.<br>
    </p>
    <p>We are currently piloting Capish with a select number of Instagrammers and brands and have placed your application on hold. We will be opening up Capish soon to more Instagrammers and will prioritize entry based on number of followers, quality of content and audience engagement.</p><br>

    
    <p>If you have any concern or questions, please feel free to send us an email at hi@capish.co! <br>
      Thanks for your time and have a great day!</p>
  </body>
</html>
