<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.firstname %>,</h1>
  
    <p>We are currently piloting Capish with a select number of Instagrammers and brands and have placed your application on hold. We will be opening up Capish soon to more Instagrammers and will prioritize entry based on number of followers, quality of content and audience engagement.</p><br>
    Please be patient with us, we promise we will be in touch soon!<br>

    
    <p>Thanks for your time and have a great day!</p><br><br>
    - Capish team 
  </body>
</html>
