<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.fullname %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>However your application has been rejected and we'll conduct a second review.</p>
    <p>If something follows up we'll contact you soon.</p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>
