<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @insta_user.firstname %>!</h1>
    <p>
    <%= "You have a new message waiting for you from" + @brand_user.firstname + "from" + @brand_user.coname  %> <br>
    To reply, log in to your <a href="http://www.capish.co/dashboard">account</a> and click on Messages. 
    </p><br>
    MESSAGE:<br>

    <p>"<%= @message.message %>"</p>
  </body>
</html>
