<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @insta_user.fullname %></h1>
    <p>
      <%= @brand_user.fullname %> has send you a new proposal.<br>
      To check the please login to the website.
    </p>
  </body>
</html>
