 
<% unless @instauser.nil? %>
 
<% if @instauser.errors.any? %>
 
      The form contains <%= pluralize(@instauser.errors.count, "error") %>  
 
    <ul>
    <% @instauser.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
 <hr>
<% end %>
 
 <%end%>