 <%= render 'layouts/header2' %>




<div class="txtpage">
<div class="container">
<h2 class="text-center">ABOUT</h2>

<div class="text-center"><img width="400" src="<%= image_url('office.png')%>" /></div>
<br /><br />
<strong>AN ONLINE COMMUNITY BUILT FOR YOU</strong>
<br /><br />

We are driven by a simple mission, to support the most talented Instagrammers live and share their passion with the world in authentic, inspiring ways. We know that you would rather fuel the creative side of what you do. We've taken care of all the boring stuff so that you can focus on what you do best, and get paid for it. <br><br>

We live in an exciting time. Our new economy has provided boundless opportunities for the creative class to make a meaningful living off their talents. We’ve created an online community built on transparency and honesty to connect the best Instagrammers with top brands. We're hoping this community will support you in taking advantage of this new economy. so you can continue creating beautiful photos that engage and inspire. 
<br /><br />
<strong>WHO WE ARE</strong>
<br /><br />
We are an innovative team of Instagrammers, thought leaders, marketers, designers, and coders. We are responding to the growing need for brands to find and partner with the right content creators to help tell their story. We recognize the creative talent and value Instagrammers can bring to brands to help tell their story in an authentic, meaningful way and created a community to help make that collaboration fun, simple and easy. 
<br /><br />
<strong>TELL US HOW WE CAN DO BETTER</strong>
<br /><br />
If you've got any ideas on what you'd like to see or what you're looking for in such a community, please drop us a line.
<br /><br />

<div id="wufoo-z1vr8hvz18yc32c">
Fill out my <a href="https://capish.wufoo.com/forms/z1vr8hvz18yc32c">online form</a>.
</div>
<script type="text/javascript">var z1vr8hvz18yc32c;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'capish',
'formHash':'z1vr8hvz18yc32c',
'autoResize':true,
'height':'437',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1vr8hvz18yc32c = new WufooForm();z1vr8hvz18yc32c.initialize(options);z1vr8hvz18yc32c.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


</div>
</div>
 
