 <%= render 'layouts/header2' %>




<div class="txtpage">
<div class="container">
<h2 class="text-center">ABOUT</h2>

<div class="text-center"><img width="600" src="<%= image_url('about.png')%>" /></div>
<br /><br />
<strong>AN ONLINE COMMUNITY BUILT FOR YOU</strong>
<br /><br />It’s a beautiful thing when your passion and career come together. We are driven by a simple mission -- to support the most talented Instagrammers make a career out of sharing their passion with the world.  

<br /><br />
<strong>WHO WE ARE</strong>
<br /><br />
We are an innovative team of Instagrammers, thought leaders, marketers, designers, and coders responding to the growing need for brands to find and partner with trendsetting content creators. We recognize the creative talent Instagrammers can bring to tell these stories in an authentic, meaningful ways and created Capish to foster collaboration between Instagrammers and brands in a fun, simple and easy way. 
<br /><br />
We live in an exciting time. The digital economy is providing boundless opportunities for creatives to make a meaningful living off their talents. We're hoping this community will support you in taking advantage of this new economy. so you can continue focusing on your passions.
<br><br>
<strong>TELL US HOW WE CAN DO BETTER</strong>
<br /><br />
If you have any ideas on how we can make Capish better, please drop us a line. We’d love to hear from you. 
<br /><br />

<div id="wufoo-z1vr8hvz18yc32c">
Fill out my <a href="https://capish.wufoo.com/forms/z1vr8hvz18yc32c">online form</a>.
</div>
<script type="text/javascript">var z1vr8hvz18yc32c;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'capish',
'formHash':'z1vr8hvz18yc32c',
'autoResize':true,
'height':'437',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1vr8hvz18yc32c = new WufooForm();z1vr8hvz18yc32c.initialize(options);z1vr8hvz18yc32c.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


</div>
</div>
 
 <div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">Contact Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>
