


<div class="container">

<div class= "row">
	<div class="col-md-6">
<strong><h2>Who We Are </h2></strong><br>

We are an innovative team of Instagrammers, marketers, coders and thought leaders. Capish was created to respond to 

the growing need for brands to find, partner and collaborate with influencers.  <br><br>

<strong><h2>Why? </h2></strong><br>

Social media and content marketing continues to be a challenge for organizations of all sizes. It’s not enough to create 

more or better content. Brands must find the right channels to drive consumers to make purchasing decisions. Instagram 

has become an increasingly important social media platform to increase awareness, create buzz and drives relevant 

traffic to action. 

Online influencers have already created meaningful relationships with their audiences by generating high value content. 

Apish provides the platform to access these influencers by helping brands find the Instgrammers that will help them 

communicate directly with a highly engaged and relevant audience.<br><br>

<strong><h2>What We Do </h2></strong><br>

Capish simplifies how brands connect with their customers, in an authentic and scalable way. We connect brands to the 

right online influencers based on topic, vertical market, demographic, social influence and consumer reach. Brands set 

up campaigns of their choosing to reach and engage with their target audience.

</div>
<div class="col-md-6" align="right">
	<img src="/assets/office.png" width="500">

</div>

</div>

<br><br><br><br>


<div class="row">
	<div id="wufoo-z1vr8hvz18yc32c">
Fill out my <a href="https://zorluhanzorlu.wufoo.com/forms/z1vr8hvz18yc32c">online form</a>.
</div>
 
<script type="text/javascript">var z1vr8hvz18yc32c;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'zorluhanzorlu',
'formHash':'z1vr8hvz18yc32c',
'autoResize':true,
'height':'200',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1vr8hvz18yc32c = new WufooForm();z1vr8hvz18yc32c.initialize(options);z1vr8hvz18yc32c.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


 
</div>

</div>