 <%= render 'layouts/header2' %>




<div class="txtpage">
<div class="container">
<h2 class="text-center">ABOUT</h2>

<div class="text-center"><img width="400" src="<%= image_url('office.png')%>" /></div>
<br /><br />
<strong>AN ONLINE COMMUNITY BUILT FOR YOU</stong>
<br /><br />
At Capish, we're building a community that values the creative talent of Instagrammers like you. We are driven by a simple mission, to support the most talented Instagrammers to focus on what they do best - sharing your passions with the world in authentic, inspiring ways. 
<br /><br />
We live in an exciting time. Our new economy has provided boundless opportunities for the creative class to make a meaningful living off their talents. We’ve created an online community built on transparency and honesty to connect top brands with the best Instagrammers. We're hoping this community will support you in taking advantage of this new economy. so you can continue creating beautiful photos that engage and inspire. 
<br /><br />
<strong>WHO WE ARE</strong>
<br /><br />
We are an innovative team of Instagrammers, marketers, coders and thought leaders. Capish was created to respond to the growing need for brands to find, partner and collaborate with Instagrammers. 
<br /><br />
<strong>A MATCH MADE IN HEAVEN</strong>
<br /><br />
We know that you as an Instagrammer would rather focus on the creative side of what you do. We've taken care of all the boring stuff so that you can focus on what you do best, and get paid for it. 
<br /><br />
Brands are always looking for new and interesting ways to tell their stories.  Instagram is an awesome way for them to tell their stories through your photo lens. You've spent years honing your craft and building your following, and brands are looking towards you to tell their stories through your eyes. But finding the right Instagrammer to tell their story in the right way can be hard to find. 
<br /><br />
Our community lets you work effortlessly with brands anywhere in the world so you can work on fun and creative campaigns that fit your passions and interests and will engage your followers. 
<br /><br />
<strong>TELL US HOW WE CAN DO BETTER</strong>
<br /><br />
If you've got any ideas on what you'd like to see or what you're looking for in such a community, please drop us a line.
<br /><br />

<div id="wufoo-z1vr8hvz18yc32c"><iframe height="345" frameborder="0" src="https://capish.wufoo.com/embed/z1vr8hvz18yc32c/def/embedKey=z1vr8hvz18yc32c727434&amp;entsource=&amp;referrer=" style="width:100%;border:none" scrolling="no" allowtransparency="true" class="wufoo-form-container" id="wufooFormz1vr8hvz18yc32c">&lt;a href="https://capish.wufoo.com/forms/z1vr8hvz18yc32c/" title="html form"&gt;Fill out my Wufoo form!&lt;/a&gt;</iframe></div>

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>
