<%= render 'layouts/header2' %>

<div class="txtpage">
<div class="container">
<h2 class="text-center">FAQ</h2> <br>
These are the most frequent question asked by other Instagrammers. If you’re a brand, find out more here. <br>
<h3>INSTAGRAMMER FAQ's</h3>
<br />
<strong>I'm logged in, now what.</strong>
<br /><br />
You are part of our limited access program. During this program, we are working with a select group of brands to find the best Instagrammers that fit their needs. If a Brand is interested in you, we will notify you via email. In the meantime, feel free to pitch an idea to one of the brands on the Brands page. This is also a chance for us to really figure out what features are most important to both you and the brands and to help us figure out how we can make  collaborating with brands an enjoyable and fun process.  If you have any thoughts or ideas, please use the feedback form on the contact page.  
<br /><br />
<strong>How will I be compensated?</strong>
<br /><br />
We will pay you via PayPal when a brand has agreed to release payment based on you successfully completing their campaign. In the meantime, make sure that your profile is connected to a PayPal account. Go to Settings and then Edit profile for more information.  
 <br><br>

<strong>Do I have to use my Instagram account to sign up? </strong>
<br><br>
Yes. We need this to build your Capish profile, and to make sure you have access to the Instagram account you represent. We'll never post anything on your Instagram.
<br><br>
<strong>How do I make money?</strong><br>
When you sign up, we ask you to choose what price per post you want to charge brands. You can always adjust this number under settings. We will pay you through Paypal once your content has been approved by a Brand. <br>
<br>


Here’s how Capish works. <br>
<img src="#{imagr_url('capishworks.png')}"></a>
<br><br>
<strong>I don’t have access to Capish yet. How come? </strong><br><br>
If you’ve signed up for our waiting list, hang tight. If you haven’t signed up yet, what are you waiting for? We are currently working with a select group of Instagrammers and brands as part of our limited access program and will be opening up Capish very soon to more Instagrammers. We will prioritize entry based on number of followers, quality of content and audience engagement. 
<br><br>
<strong>I have a profile. Now what?</strong><br><br>
You’re all set. We’ll send you an email as soon as a brand wants to work with you. If you’d like to pitch an idea to a brand in the meantime, check out the Brands page. Also make sure your profile is complete by going to Settings and then Edit Profile. 

<br><br>
<strong>Is it free?</strong><br>
Yes, Capish is free for Instagrammers. Brands pay a small fee for using Capish. 
<br><br>
<strong>Do you have a privacy policy?</strong><br><br>
Yes. You can read it here. 
<br>
<br>
Still have a question?<br>
Head over to the About page or email us as hi@capish.co.  

</div>
</div>
