<%= link_to '18-24', pages_results_path, method: :patch, remote: true , data: {disable_with: "Loading..."} %>

 

<div id="results">

 <% Instauser.where(location: "İstanbul").each do |x| %>
<%= x.username %>
<% end %>

</div>