
 
<div class="jumbotron">
	 

<p><div class="row" align="center">
 <h1>Markayım  <%= link_to "Kaydol", '/bsignup', class: "btn btn-primary" %></h1><hr>
		<h1>Instagrammer'ım.  <%= link_to "Kaydol", new_instauser_path, class: "btn btn-primary" %></h1>
	</p><br>
 </div></div>
  

