
 <div class="container">

<div class="jumbotron" id="form">
	 
<% if !instauser_logged_in? and !branduser_logged_in? %>

<p><div class="row" align="center">
 <h1>Markayım  <%= link_to "Kaydol", '/bsignup', class: "btn btn-primary" %></h1><hr>
		<h1>Instagrammer'ım.  <%= link_to "Kaydol", new_instauser_path, class: "btn btn-primary" %></h1>
	</div></p><br>



<%else%>

<div class="row" align="center">
 <h1>Collaboration is awesome</h1>
 <h4> Reklogram is where brands and instagramers meet to work together for a common cause.</h4>
</div>

<%end%>

 </div>


 

<div class="row">
	
	<div class="row" align="center">
	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
	</div>
	
	<div class="row" >
	
	<div style="height: 30px;"></div>
	

	</div>
	<div class="col-md-4">
	Find the perfect influencer. Search through great power users by theme, location, gender, age to find the right brand ambassadors. 
	</div>

	<div class="col-md-4">
	Contact directly. Send a proposal to an instagramer directly on Sponsta. Once they accept it, you can continue the conversation and sort out the details of your collaboration. 
	</div>

	<div class="col-md-4">
	Pay. It’s simple to pay the instagramers you work with, and you’ll get an invoice from Sponsta for your records. We add a service fee of 15% on top of your payment to the instagramer.
 
 
	</div>
	


	</div>

 <div class="row">

<strong>Are you an instagramer?</strong><br>
These are the most frequent question asked by other instagramers.<br>

<strong>Do I have to use my Instagram account to sign up?</strong><br>
Yes. We use this to build your profile on Sponsta, and to make sure you actually have access to the Instagram account you represent. We will never post anything on your Instagram.<br>

<strong>How do I make money?</strong><br>

All collaborations pay a minimum of $100USD, but you can adjust this to be higher if you require.<br>

<strong>Is it free?</strong>
Yes, It is free for instagramers. Brands pay for using the service.
<br>
<strong>Can I work with other platforms if I have an account with you?</strong><br>
Yes.
<br>

<strong>Why is my account awaiting approval?</strong><br>
All instagramers go through an approval process before brands can collaborate with them and they gain access to Sponsta. You should have an answer within 24 hours of applying.<br>

<strong>What does it take to be approved?</strong><br>

All instagramers must have at least 10,000 followers, great content and an engaged audience. In terms of style, we’re interested in a wide variety of instagramers.<br>

<strong>I have a profile. Now what?</strong><br>

You’re all set. We’ll send you an email as soon as a brand wants to work with you.





 </div>
		 


 



</div>
 

 