
 
<div class="jumbotron">

 <h1><img src='/assets/brand.jpg' width="80">  Markayım  <%= link_to "Kaydol", '/bsignup', class: "btn btn-primary" %></h1><br>
		<h1><img src='/assets/download.jpeg' width="80"    >    Instagrammer'ım.  <%= link_to "Kaydol", new_instauser_path, class: "btn btn-primary" %></h1>

	</div>
  
