
<div class="jumbotron">
	 
	<h1>Markayım  <%= link_to "Kaydol", '/bsignup', class: "btn btn-primary" %></h1><br>
		<h1><img src='assets/download.jpeg' width="80">Instagrammer'ım.  <%= link_to "Kaydol", '/auth', class: "btn btn-primary" %></h1>
 
 
 