 

 <div class="container">

<div class="jumbotron" id="form">
	 
<% if !instauser_logged_in? and !branduser_logged_in? %>

<p><div class="row" align="center">
 <h1>I am a Brand. <%= link_to "Signup", '/bsignup', class: "btn btn-primary" %></h1><hr>
		<h1>I am an Instagramer.  <%= link_to "Signup", new_instauser_path, class: "btn btn-primary" %></h1>
	</div></p><br>



<%else%>

<div class="row" align="center">
 <h1>Collaboration is awesome</h1>
 <h4> Reklogram is where brands and instagramers meet to work together for a common cause.</h4>
</div>

<%end%>

 </div>


 

<div class="row">
	
	<div class="row" align="center">
	<h2>Reach the right audience at the right time.</h2>
	</div>
	
	<div class="row" >
	
	<div style="height: 30px;"></div>
	

	</div>
	<div class="col-md-4">
	<strong>Connect</strong> Connect with influential content creators and influencers based on your target market.
	</div>

	<div class="col-md-4">
	<strong>Easy to Use.</strong> Use our streamlined platform to create campaigns quickly and efficiently.
	</div>

	<div class="col-md-4">
	<strong>Drive Action.</strong> Engage your customers with authentic content to increase your conversion rates.
 
 
	</div>
	


	</div>

<hr>
<hr>
 
		 


 



</div>
 

 