
 <div class="container">

<div class="jumbotron" id="form">
	 
<% if !instauser_logged_in? and !branduser_logged_in? %>

<p><div class="row" align="center">
 <h1>Markayım  <%= link_to "Kaydol", '/bsignup', class: "btn btn-primary" %></h1><hr>
		<h1>Instagrammer'ım.  <%= link_to "Kaydol", new_instauser_path, class: "btn btn-primary" %></h1>
	</div></p><br>



<%else%>

<div class="row" align="center">
 <h1>Collaboration is awesome</h1>
 <h4> Reklogram is where brands and instagramers meet to work together for a common cause.</h4>
</div>

<%end%>

 </div>


 

<div class="row">
	
	<div class="row" align="center">
	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
	</div>
	
	<div class="row" >
	
	<div style="height: 30px;"></div>
	

	</div>
	<div class="col-md-4">
	Instagramer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	</div>

	<div class="col-md-4">
	Brands. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
	</div>

	<div class="col-md-4">
	Brands. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
	</div>
	


	</div>

 
		<div id="boxy">
           
		</div>
 


 



</div>
 

 