
 <div class="container">

<div class="jumbotron" id="form">
	 
<% if !instauser_logged_in? and !branduser_logged_in? %>

<p><div class="row" align="center">
 <h1>I am a Brand. <%= link_to "Signup", '/bsignup', class: "btn btn-primary" %></h1><hr>
		<h1>I am an Instagramer.  <%= link_to "Signup", new_instauser_path, class: "btn btn-primary" %></h1>
	</div></p><br>



<%else%>

<div class="row" align="center">
 <h1>Collaboration is awesome</h1>
 <h4> Reklogram is where brands and instagramers meet to work together for a common cause.</h4>
</div>

<%end%>

 </div>


 

<div class="row">
	
	<div class="row" align="center">
	<h2>Reach the right audience at the right time.</h2>
	</div>
	
	<div class="row" >
	
	<div style="height: 30px;"></div>
	

	</div>
	<div class="col-md-4">
	<strong>Find the perfect influencer.</strong> Search through great power users by theme, location, gender, age to find the right brand ambassadors. Reach the right audience at the right time. 
	</div>

	<div class="col-md-4">
	<strong>Contact directly.</strong> Send a proposal to an instagramer directly. Once they accept it, you can continue the conversation and sort out the details of your collaboration. 
	</div>

	<div class="col-md-4">
	<strong>Pay.</strong> It’s simple to pay the instagramers you work with, and you’ll get an invoice for your records. We add a service fee of 15% on top of your payment to the instagramer.
 
 
	</div>
	


	</div>

<hr>
<hr>
 
		 


 



</div>
 

 