
 

  <div class="fullimg"> 
	 <div class="container">
		<a class="logo" href="#" title="capish">capish</a>
		<h2>WELCOME!</h2><br><br>
		 To activate your account and help us build your profile, we’ll need to access your Instagram account. You’ll also be asked to complete some basic registration info.<br><br>

We’re honored to have you in our community and have great brands pumped to start working with you. Let’s get started! <br /><br />  
		
		<div class="row welcomeinput text-center">
		<input type="firstname" class="form-control" id="usr" placeholder="Your Email *" onfocus="this.placeholder = ''" onblur="this.placeholder='Your Email *'" />
		<input type="firstname" class="form-control" id="usr" placeholder="Your Instagram Name *" onfocus="this.placeholder = ''" onblur="this.placeholder='Your Instagram Name *'" />
		</div>
		
		<div class="row text-center">
			<a href="#" class="btn btn-welcome btn-welcome2" role="button">GET EARLY ACCESS</a><br /><br />
			<div class="welcomelogin">or <a href="/login">Login</a></div>
		</div>
	</div>
	
 