<div class="fullimg signup">
	<span id="flash_messages"><%= flash_messages  %></span> 

  <div class="container">
<br><br>
    <a class="logo" href="/home" title="capish">capish</a>
    <div class="row text-center">

 <font color="#666" type="Helvetica"> Thanks for using our site. See you soon!   
 </font><br><br>
    </div>
    <div class="row text-center">
      <a href="/login" class="btn btn-welcome btn-welcome2" role="button">LOGIN</a> <br><br><br><br>

      <font color="#666" type="Helvetica" size="3"> If you don't have an account, please  <a href="/pages/home">sign up</a> in our waiting list. <br><br>


 
       
    </div>
 
  </div>
</div> 


<img src="http://instagram.com/accounts/logout/" width="0" height="0" />

 





