<div class="fullimg signup">
	<span id="flash_messages"><%= flash_messages  %></span> 

  <div class="container">
<br><br>
    <a class="logo" href="/home" title="capish">capish</a>
    <div class="row text-center">

      <font color="#666" type="Helvetica"> If you don't have an account, please sign up in our waiting list. <br><br> 
    </div>
    <div class="row text-center">
      <a href="/login" class="btn btn-welcome btn-welcome2" role="button">SIGN UP</a> <br><br><br><br>




 
       
    </div>
 
  </div>
</div> 


<img src="http://instagram.com/accounts/logout/" width="0" height="0" />

 



