 <%= render 'layouts/header2' %>
<div class="txtpage">
<div class="container">
 
 
<br /><br />
If you have any ideas on how we can make Capish better, please drop us a line. We’d love to hear from you. 
<br /><br />
<hr>

<div id="wufoo-sncunab1smjib8">
 
</div>
<script type="text/javascript">var sncunab1smjib8;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'capish',
'formHash':'sncunab1smjib8',
'autoResize':true,
'height':'377',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { sncunab1smjib8 = new WufooForm();sncunab1smjib8.initialize(options);sncunab1smjib8.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


</div>
</div>
 


<img src="http://instagram.com/accounts/logout/" width="0" height="0" />


<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>





