 <%= render 'layouts/header2' %>
<div class="txtpage">
<div class="container">
 
 
<br /><br />
If you have any ideas on how we can make Capish better, please drop us a line. We’d love to hear from you. 
<br /><br />
<br>
<hr>

<div id="wufoo-z1vr8hvz18yc32c">
Fill out my <a href="https://capish.wufoo.com/forms/z1vr8hvz18yc32c">online form</a>.
</div>
<script type="text/javascript">var z1vr8hvz18yc32c;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'capish',
'formHash':'z1vr8hvz18yc32c',
'autoResize':true,
'height':'437',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1vr8hvz18yc32c = new WufooForm();z1vr8hvz18yc32c.initialize(options);z1vr8hvz18yc32c.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


</div>
</div>
 


<img src="http://instagram.com/accounts/logout/" width="0" height="0" />


<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">Contact Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>





