
 
 <div class="container">
<div class="jumbotron" id="form">


<div class="row" align="center">
 <h1>Collaboration is awesome</h1>
 <h4> Reklogram is where brands and instagramers meet to work together for a common cause.</h4>
</div>

</div>
</div>









<img src="http://instagram.com/accounts/logout/" width="0" height="0" />

