<div class="fullimg signup">
	<span id="flash_messages"><%= flash_messages  %></span> 

  <div class="container">
<br><br>
    <a class="logo" href="/home" title="capish">capish</a>
    <div class="row text-center">

      <font color="#666" type="Helvetica"> We are piloting Capish with a select number of Instagrammers. If you aren’t signed up for our wait list, please sign up to get an invitation. </font>
 <br><br> 
    </div>

    <div class="row text-center">
      <a href="/pages/home" class="btn btn-welcome btn-welcome2" role="button">SIGN UP</a> <br><br><br><br>

<br><br><font color="#666" type="Helvetica" size="3">Contact us anytime!</font><br>
    <a href="http://www.instagram.com/capish.co" target="_blank"><img src="<%= image_url('instagram.png') %>" width="50"></a><a href="http://www.twitter.com/capish_co" target="_blank"><img src="<%= image_url('twitter.png') %>" width="30"></a><br><br>
    <font color="#666" type="Helvetica" size="1">Copyright 2016</font>

  <img src="http://instagram.com/accounts/logout/" width="0" height="0" />
       
    </div>
 
  </div>
 

 

</div> 
 





