<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<title>capish</title>
<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
<link href="assets/style.css" rel="stylesheet" type="text/css"  media="all"  />
<script src="http://afternoon-harbor-54970.herokuapp.com/assets/application-78348226ea99ef917a6e0608978b5593.js" type="text/javascript"></script>
<link rel="stylesheet" href="assets/bootstrap-select.min.css">
</head>
<body>

<div class="row row0">
<header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" title="capish">capish</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Proposals<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Messages<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Brands</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn4">kimkardashian</a></li>
        <li><a href="#" class="btn1"><i class="fa fa-cog"></i>&nbsp;Edit Profile</a></li>
        <li><a href="#" class="btn2"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
        <li><a href="#" class="btn3"><i class="fa fa-sign-out"></i>&nbsp;Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- mobilde çıkacak menu start -->

<nav class="mobilenav">
	<a class="navbar-brand" href="#" title="capish">capish</a>
	<div class="mainNav clearfix"><p class="navicon"><i class="fa fa-bars"></i></p></div>
	<ul class="mainNavDropDown clearfix">
		<li><a href="#">kimkardashian</a></li>
		<li><a href="#">Proposals<span class="notification-icon"><span class="badge">0</span></span></a></li>
		<li><a href="#">Messages<span class="notification-icon"><span class="badge">0</span></span></a></li>
		<li><a href="#">Brands</a></li>
		<li><a href="#"><i class="fa fa-cog"></i>&nbsp;Edit Profile</a></li>
		<li><a href="#"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
		<li><a href="#"><i class="fa fa-sign-out"></i>&nbsp;Sign-out</a></li>
	</ul>
</nav>

<!-- mobilde çıkacak menu end -->

</header>
</div>


<div class="txtpage">
<div class="container">
<h2 class="text-center">MESSAGES</h2>
This is where you will receive messages from brands you are communicating with. You will be able to send messages to a brand as soon as you receive a proposal from them. 
<br /><br />
You currently have no messages. 
</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>

<script type="text/javascript">
$('.navicon').on('click', function(){
  $('.mainNavDropDown').slideToggle(600);
 });
</script>

</body>
</html>
