 <%= render 'layouts/header2' %>



<div class="txtpage">
<div class="container">
<h2 class="text-center">PRIVACY</h2> 

Hi There!<br><br>

You must be concerned about your privacy if you are reading this message. Your time is valuable so we’ll keep it simple. This is the short version. Feel free to read the long version below, to see how much we are passionate about protecting your privacy. <br>

We collect your email address from you.<br><br>

We’ll use this information by adding you to our list of interested customers, send you occasional newsletters that include an opt-out link, and let you know when our service is ready to use.<br><br>
We promise not to transfer any of your information to 3rd party services that are not directly required for us to perform business.<br>
Every email we send will include a link to opt out of any future communication. You can also contact hi@capish.co directly if you wish for your data to be 100% deleted.<br><br>
That’s all for now! This policy may be changed in the future, but we realize that you’re paying us with your attention and it’s our goal to respect that transaction.<br><br>

<hr>
<br>
<br>

Privacy -- Long Version <br>
Effective as of Feburary 28, 2016<br>
<br>
CAPISH PRIVACY POLICY
<br><br>
This privacy policy (the “Privacy Policy”) describes how and when CAPISH (“Capish” “us” “we” “our”) collects, uses, and shares your information when you use the Capish website located at www.capish.co (the “Site”) and our related application(s), service(s) and software (collectively, with the Site the "Services"). This Privacy Policy explains the information gathering, use and sharing practices for the Services, including what information is collected, how that information is acquired, maintained, stored, shared and/or used, and your privacy choices. This Privacy Policy is independent from our offline personal data collection practices. By using our Services, you are consenting to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy now and as amended from time to time at our discretion. 
<br><br>

Information Collection and Use<br><br>

Creating an Account and Profile Information: To use certain features of the Services, you may be required to provide information such as your name, username, password, email address, mailing address, zip code, telephone number, date of birth, gender, age verification and/or country of residence. You may optionally provide us with additional profile information, including a short bio, location, profile picture and other information (collectively “Personal Information”). You may update or modify your profile information and contact information at any time. Profile information may be available publicly on our Services, such as on your profile page. In addition to using your contact information to create your account, we may use this information to send you information about our Services, respond to your requests and facilitate use of the Services. We may use your name, email address and other information you provide to notify you of new products, releases, service notifications, events and to solicit your feedback and input. We may also use your Personal Information to send you marketing materials or newsletters and to improve the Services.
<br><br>
When You Send Email Communications: When you contact us via email, the email address you use to communicate with us will be subject to this Privacy Policy. We may collect, store and use the email address you used to communicate with us to communicate with you, respond to your requests, to inform you about our products and services (unless you opt out of receiving such communications), to answer questions, resolve concerns or send you other information related to the Services. The contents of your email communications including any information, resumes, ideas, concepts or inventions, will not be subject to this Privacy Policy. We may keep a record of your communications with us and use the contents of those communications for any purpose. 
<br><br>
Links: We may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to help improve our Services, for example to provide relevant advertising, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.
<br><br>
Cookies: Like many websites, we use "cookie" technology to collect additional website usage data 
and to improve our Services, but we do not require cookies for many parts of our Services. A cookie is a small data file that is transferred to your computer's hard disk. Capish may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. If you do not want cookies from Capish or other websites, you can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.
<br><br>
Log Data: Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our Site, sign into our Services, or interact with our email notifications. Capish uses Log Data to provide our Services and to measure, customize, and improve them. 
<br><br>
When You Make A Purchase or Receive Payment: When you send or receive payment through our Services, Capish (or a third party service provider) collects payment information including your credit or debit card number, card expiration date, CVV code, shipping address and billing address (“Payment Information”). Any time Payment Information is collected, it will be used only to process the payment transaction, and will be handled securely using commercial encryption practices. To facilitate future payment transactions on our Services, we (or a third party service provider) may store your Payment Information, excluding CVV code, and shipping address, which you can remove from your account at any time. We consider your Payment Information private and do not make such information public. We collect and store information created by payment transactions made on our Services. 
<br><br>
Affiliated Sites: We offer some of our Services in connection with other third parties, and Personal Information that your provide to those third parties may be sent to Capish in order to deliver the service. We process your information in accordance with this Privacy Policy, however, such third parties may have different privacy practices. Therefore, we encourage you to read their privacy polices prior to disclosing any Personal Information. 
<br><br>
Third-Parties: Capish uses a variety of third-party services to help provide our Services, such as to help us understand the use of our Services, such as Google Analytics. These third-parties may collect information sent by your browser or mobile device, such as cookies, your IP address, or device ID.
<br>
<br>
Information Sharing and Disclosure
<br><br>
Your Consent: We may share or disclose your Personal Information at your direction or with your consent, such as when you choose to publicly post information to your profile or update your profile information.
<br>
Service Providers: We engage certain trusted third parties to perform functions and provide services to us, including, without limitation, hosting and maintenance, customer relationship, database storage and management, and direct marketing campaigns. We will share your Personal Information with these third parties, but only to the extent necessary to perform these functions and provide such services.  From time to time, we may partner with third parties to improve your Capish experience. Please be aware that the privacy policy of such partners will govern their use of your Personal Information.  Furthermore, in connection with the operation, promotion, advertising or marketing of our Services, we may provide certain of our partners with Personal Information (e.g., your name) and other content or information related to you (e.g., your profile picture), or provide certain of our partners with access to our application programming interfaces ("APIs") in order to access such information using information (such as Instagram handles) already in their possession.  Please note: each time we provide any of your Personal Information to our partners, we only provide information to these partners that is publicly available or publicly viewable in your Capish profile at the time we provide it.
<br><br>
Law and Harm: Notwithstanding anything to the contrary in this Privacy Policy, we may preserve or disclose your Personal Information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Capish’s rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party's, including a government's, request to disclose your information.
<br><br>
Business Transfers: In the event that Capish is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your Personal Information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity.
<br><br>
Non-Private or Non-Personal Information: We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, public posts, or the number of users who clicked on a particular link (even if only one did).

<br><br>
Modifying Your Personal Information
<br><br>
If you are a registered user of our Services, we provide you with tools and account settings to access or modify the profile information you provided to us and associated with your account.
<br><br>
You can also permanently delete your Capish account via our website or by contacting Capish via email at hi@icapish.co.  
<br><br>
Our Policy Towards Children
<br><br>
The Children’s Online Privacy Protection Act (“COPPA”) protects the online privacy of children under thirteen (13) years of age.  Our Services are not directed to individuals under the age of thirteen (13).  If a parent or guardian becomes aware that his or her child has provided us with personal information without his or her consent, please contact us at hi@capish.co. We do not knowingly collect or maintain personal information from children under 13, unless or except as permitted by law.  If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account unless we receive verifiable parental consent.  We encourage parents and legal guardians to monitor their children’s internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Information to us without their parent’s or legal guardian’s permission.   
<br><br>
Your Privacy Choices
 <br><br>
You may opt-out of receiving email communications and other marketing materials from us (or any third party email marketing service we may use) via link provided in each email.  You can delete your account fully.
 <br><br>
We do not currently maintain any procedures for you to review the information that we collect about you. 
Information Security
 <br><br>
We are very concerned about the security of your Personal Information. We employ administrative, physical and electronic measures designed to protect your information from unauthorized access. However, no Internet or email transmission is ever fully secure or error free. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations of the Internet which are beyond our control; (b) the security, integrity and privacy of any and all information and data exchanged between you and us through this site cannot be guaranteed; and (c) any such information and data may be viewed or tampered with in transit by a third party.  Notwithstanding the foregoing, we will make any legally-required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored Personal Information to you via email or conspicuous posting on this Site in the most expedient time possible and without unreasonable delay, consistent with (i) the legitimate needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system. 
 <br><br>
Changes to this Policy
 <br><br>
We may revise this Privacy Policy from time-to-time, without advanced notice to you. The most current version of our Privacy Policy will be posted to this URL. If we make changes to the Privacy Policy that we determine, in our sole discretion, are material, we will notify you either via email, if you have provided one, or by posting a notification on the Site. Once posted, the changes to the Policy will be effective immediately. By continuing to access or use our Services after changes have become effective, you agree to be bound by the terms of the revised Privacy Policy. If you do not agree with our Privacy Policy, please do not use our Services.

<br><br>

</div>
</div>


<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>