<%= render 'layouts/header2' %>

<div class="txtpage">
<div class="container">
<h2 class="text-center">FAQ</h2> 
<h3>INSTAGRAMMER FAQ's</h3>
<br />
<strong>I'm logged in, now what.</strong>
<br /><br />
You are part of our limited access program. During this program, we are working with a select group of brands to find the best Instagrammers that fit their needs. If a Brand is interested in you, we will notify you via email. In the meantime, feel free to pitch an idea to one of the brands on the Brands page. This is also a chance for us to really figure out what features are most important to both you and the brands and to help us figure out how we can make  collaborating with brands an enjoyable and fun process.  If you have any thoughts or ideas, please use the feedback form on the contact page.  
<br /><br />
<strong>How will I be compensated?</strong>
<br /><br />
We will pay you via PayPal when a brand has agreed to release payment based on you successfully completing their campaign. In the meantime, make sure that your profile is connected to a PayPal account. Go to Settings and then Edit profile for more information.  
<br /><br />
Still have a question? Head over to the Contact page or email us as <a href="mailto:hi@capish.co" target="_blank">hi@capish.co</a>.  
</div>
</div>