

 <%= render 'layouts/header2' %>


<div class="txtpage">
<div class="container">
<h2 class="text-center">VERIFICATION</h2>
<font color="red">You need to verify your email before proceeding. </font><br><br>Please find the welcome email from Capish in your inbox and click on the verification link. 
If you have any queries, feel free to contact us at hi@capish.co or leave <a href="/pages/about">feedback</a>.
</div>
</div>
