

 <%= render 'layouts/header2' %>


<div class="txtpage">
<div class="container">
<h2 class="text-center">VERIFICATION</h2>
<font color="red">You need to verify your email before proceeding to login. </font><br><br>Please find the welcome email from Capish in your inbox and click on the verification link. 
If you have any queries, feel free to contact us at <a href="mailto:hi@capish.co" target="_blank">hi@capish.co</a> or leave <a href="/pages/about"target="_blank">feedback</a>.
</div>
</div>
</div>
 </div>
 <div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>