
 


<div class="fullimg signup">

  <div class="container">
<br><br>
    <a class="logo" href="#" title="capish">capish</a>
    <div class="row text-center">

 <font color="#666" type="Helvetica"> Welcome! To activate your account and help us build your profile, we’ll need to access your Instagram account. You’ll also be asked to complete some basic registration info. <br><br>

We’re honored to have you in our community and have great brands pumped to start working with you. Let’s get started! </font><br><br>
    </div>
    <div class="row text-center">
      <a href="/login" class="btn btn-welcome btn-welcome2" role="button">LOGIN</a><br /><br />
       
    </div>
 
  </div>
 
</div> 
 