<div class="fullimg">
	<div class="container">
		<a class="logo" href="#" title="capish">capish</a>
		 
		Welcome to Capish! We built this community for you, and are honored to have you in our community. As one of our founding members, you will have a unique opportunity to help us build Capish from the ground up, and we couldn’t be more excited to work with you. To activate your account, you’ll need to complete some basic registration information.  
<br /><br />
		Let’s get started!
		<div class="row text-center">
			<a href="#" class="btn btn-welcome" role="button">CREATE ACCOUNT</a>
		</div>
	</div>
	
</div>