 



 <!-- <div class="modal-header"> !-->
    
 
  <!-- </div> !-->
  <div class="modal-body">

<div class="col-xs-8">
	 <h2 id="myModalLabel"><font face="Lobster" color="white">capish</h2>
	<div align="right"><button type="button"  data-dismiss="modal" aria-hidden="true"><div id="cross">X</div></button> </div>
 <div id="wufoo-rwg29uv1tg7khb">
  <a href="https://capish.wufoo.com/forms/rwg29uv1tg7khb"> </a> 
</div>
 
	
<script type="text/javascript">var rwg29uv1tg7khb;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'capish',
'formHash':'rwg29uv1tg7khb',
'autoResize':true,
'height':'600',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { rwg29uv1tg7khb = new WufooForm();rwg29uv1tg7khb.initialize(options);rwg29uv1tg7khb.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

 

</div>
  </div>
 