<div align="center">
 <div class="brandtext"> <%= link_to "Send a Message", brands_contact_form_path, class: "btn btn-info", :remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modal-window' %>  </div> </div>
 		 <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>