 <%= render 'layouts/header2' %> 

<div class="container">
<h1 class="text-center">BRANDS</h1> 
Pitch brands directly with a campaign idea.

<div class="row row0 text-center brandbox">
<div class="row masonry-container">
<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/vodafone.png" /><em>Vodafone is one of the world’s leading telecommunications groups with a significant presence in Europe and other countries.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/hepsiburada.png" /><em>Hepsiburada.com has been established as an e-commerce site aim at satisfying internet users’ needs, since 1998</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/vogue.png" /><em>Your favorite fashion, beautiy and lifestyle brands. Events, behind-the-scenes buzz and exclusive offers.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/nautica.png" /><em>Founded in 1983, Nautica has evolved from a collection of men’s outwear to a leading global lifestyle brand.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/loreal.png" /><em>The Bridgestone Group has over 180 manufacturing plants and R&D facilities in 25 countries.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/becks.png" /><em>Premium quality, light golden colour, hoppy flavour. Brewed using only natural
ingredients.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/starbucks.png" /><em>To say Starbucks purchases and roasts high quality whole bean cofees is very true. We do that.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="assets/thy.png" /><em>Turkish Airlines is the national flag carrier airline of Turkey. We strive to make you happy everywhere.</em><button type="submit" class="btn btn-send">PITCH AN IDEA</button></div>

</div>
</div>

</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  size: 4
});		
</script>