
 <%= render 'layouts/header2' %> 


 <div class="txtpage">
<div class="container">

 <%= render :partial => 'search_box' %>
<div>
  <% if @instausers.first.nil? %>

<img src="/assets/monkey.png", width="300"> 
<%= link_to "No users found, search again", bdashboard_path(:id => current_branduser) %></font>

 <%end%>

</div>



<%= render :partial => "infocard" %>


</div>
</div>