 
 
<%= 
  html = "<h1>#{@user.username}'s recent media</h1>"
  for media_item in @client.user_recent_media
    html << "<div style='float:left;'><img src='#{media_item.images.thumbnail.url}'><br/> <a href='/media_like/#{media_item.id}'>Like</a>  <a href='/media_unlike/#{media_item.id}'>Un-Like</a> <br/><h4>LikesCount=#{media_item.likes[:count]}</h4></div>"
  end
  
  html.html_safe

%> 