@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,latin-ext);
body{font-family: "Roboto",sans-serif;}
input.text, textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.info{border-bottom:0;padding:0;}
.info{border-bottom:0;padding:0;}
.instruct{border:1px solid #e6e6e6}
.info h2{color: #333 !important;display: block;font-size: 14px !important;font-weight: 700 !important;font-family: "Roboto",sans-serif !important;}
.info div{font-size:95%;font-family:inherit;color:#444444}
.section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.section div{font-size:85%;font-family:inherit;color:#444444}
label.desc, legend.desc{font-size:95%;font-family:inherit;color:#444444}
li div, li div label, li span label{font-family:inherit;color:#777}
input.text, textarea.textarea, select.select, label.choice{font-size:13px;color:#333;border:1px solid #ccc;padding:0 0 0 5px;}
textarea.textarea{padding:5px 0 0 5px;}
input.text{height:28px !important;line-height:28px !important;}
label.choice{color:#444444}
.instruct{font-size:80%;font-family:inherit;color:#444444}
input.btTxt {
    background-color: #e74c3c;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px !important;
    font-weight: 700;
    margin-top: 5px;
    padding: 9px 46px;
    text-shadow: none;
	cursor: pointer;
    display: inline-block;
	line-height: 1.42857;
}
input.btTxt:hover{opacity:0.9;}
form li{padding-left:0;}
form li.buttons{padding-left:0;}
form li.focused{background-color: transparent !important;}