
.messages-leftbar{
  width: 100%;
}

.messages-list {
  .single-message{
    display: table;
    width: 100%;
  
    .left-message {
      float: left;
      background: white;
      margin: 5px 0px;
    }
    .right-message {
      float: right;
      background: white;
      margin: 5px 0px;
    }
  }
}
