<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @branduser.coname %></h1>
    <p>
      <%= @instauser.firstname %> has accepted your proposal. Please go to <a href="http://www.capish.co"> the site </a> to login. The proposal is now under 'Active' proposals. You can now message the Instagrammer to sort out the details. 
      <br>
      <br>
      Proposal ID# <%= @charge.id %>.<br>
    </p>
  </body>
</html>
