<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @instauser.firstname %>!</h1>
    <p>
      <%= @branduser.coname %> has marked completed your proposal. Congratulations! 
      <br>
      <br>
      Proposal ID# <%= @charge.id %>.<br>
    </p>
  </body>
</html>
