<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @instauser.firstname %>!</h1>
    <p>
      Your proposal has been edited and resent to you by <%= @branduser.coname %>. <br> 
      To accept or decline it, please log in to your <a href="http://www.capish.co/dashboard">account</a>  and click on Proposals.  
      <br>
      <br>
      Proposal ID# <%= @charge.id %>.<br>
    </p>
  </body>
</html>
