<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @instauser.firstname %>!</h1>
    <p>
      Aren't you popular! You have a new proposal waiting for you from <%= @branduser.coname %>. <br> 
      To reply, log in to your <a href="http://www.capish.co/dashboard">account</a>  and click on Proposals and then filter by clicking on 'Pending' tab to see the new proposal.  
      <br>
      <br>
      Proposal ID# <%= @charge.id %>.<br>
    </p>
  </body>
</html>
