<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @branduser.coname %></h1>
    <p>
      <%= @instauser.firstname %> has requested release for your proposal. You can go to Proposals section and filter 'Release Request' proposals to see it. 
      <br>
      <br>
      Proposal ID# <%= @charge.id %>.<br>
    </p>
  </body>
</html>
