<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @branduser.coname %>!</h1>
    <p>
      <%= @instauser.firstname %> has requested payment for your proposal. You can go to Proposals section and filter by 'Payment' to see it. 
      <br>
      <br>
      Proposal ID# <%= @charge.id %>.<br>
    </p>
  </body>
</html>
