<%= render 'layouts/header2' %>


<div class="msgpage">
<div class="container">	

<% if (instauser_logged_in? && !branduser_logged_in?) %>
 <%= render :partial => "instauser_charge_detail" %>
<% elsif branduser_logged_in? && !instauser_logged_in? %>
<%= render :partial => "branduser_charge_detail" %>
<%end%> 


</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="/pages/about">About</a>
		<a href="/faq">FAQ</a>
		<a href="/privacy">Privacy</a>
		<a href="/pages/terms">Terms</a>
	</footer>
</div>
</div>