<%= render 'layouts/header2' %>

<!-- <div id="leftbar"> !-->
  <%= render partial: "sidebar" %>
<!-- </div> !-->
<!-- google analytics code !-->
 <!-- <% if @charges.present? %>
 <%= render partial: "charges_list", object: @charges %>
 <% end %> !-->

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
  
</div>

</div>