<%= render 'layouts/header2' %>

<div class="container">
  <h3>Success! Your payment of  <%= @charge.amount.to_f/100 %> was received. Once the Instagrammer accepts your proposal, you will be able to send direct messages to discuss the campaign in further detail. To check the status of your proposal, go to <%= link_to "Proposals.", charges_path(current_branduser) %> s</h3>
 
  <div class="row">
    Transaction ID: <%= @charge.id %>
  </div>
</div>
