



<div class="container">

<h2>YAY! Success!  Your payment of <strong><%= @charge.amount/100 %> was received. Once the instagramer accepts your proposal, you will be able to send direct messages back and forth. Please go to <%= link_to "proposals", charges_path(current_branduser) %>  to check out the status of your proposal. <strong> </h2>
 

<div class="row">
Transaction ID: <%= @charge.id %>
 </div>


</div>