<h2>Thanks, your payment of <strong><%= @charge.amount/100 %> was received. Your card will be charged after Instagramer accepts your proposal. Once accepted, you will be able to send messages directly to each other. <strong> </h2>
 

<div class="row">
Charge ID: <%= @charge.id %>
 </div>