<%= render 'layouts/header2' %>

 

<div class="txtpage">
<div class="container">
 
	<h2 class="text-center">PAYMENT</h2>	
	<div class="subtitle">SUCCESS!</div>
	<strong>Your payment of <%= @charge.amount.to_f/100 %>  was escrowed.</strong> Once the Instagrammer accepts your proposal, your credit card will be charged. You can now send direct messages to the Instagrammer.<br><br> To check the status of your proposal, or send a direct message, please go to <%= link_to "Proposals.", charges_path(current_branduser) %><br><br><span class="pull-right">Proposal ID: <%= @charge.id %></span>
</div>
</div>

 <div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
  
</div>

</div>